
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body {
            background-color: #c4e9ff !important;
        }
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif
        }
    </style>
</head>
<body >

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="~/img/image.jpg" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            @*<h2 style="font-size:35px;  " class="w3-text-white">Mahammad Mammadov</h2>*@
                        </div>
                    </div>
                    <div class="w3-container">
                       
                        <hr>
                        <h2 style="font-size:30px; font-family: sans-serif; " class="w3-text-black">MAHAMMAD MAMMADOV</h2>
                    
                        <br>
                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">Hello,</h2>


                    <div class="w3-container" style="font-size:22px; font-family: Cormorant Garamond">
                        <p>
                            I am a 3rd year student majoring in "Information Security".
                            I have the basic knowledge of cryptographic standards, systems, and protocols. Besides Security,
                            I am interested in Data Engineering. Over the 1 year I study this field.
                            I have experience working with the Python  programming language, and with its libraries.
                            Also I study management of Relational Database by SQL. I improve my skills by learning other technologies,
                            which I will add to my resume in the future.


                        </p><br>
                        <p>
                            About my hobbies, I love sports and an active lifestyle. For 10 years I have been actively engaged in the martial art of "Judo".
                            I have achieved a black belt and have various awards from competitions.
                            I was also a member of the cadet National Judo team of Azerbaijan. At the moment, in my free time, I try to attend Judo trainings, but it happens rarely because of my studies.


                        </p><br>
                    </div>
                </div>

              


                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

   

</body>
</html>


