@using Bio.Models
@model List<ToDo>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


html, body {
            
            font-family: 'Comic Sans MS';
        }
</style>

<h2></h2>
<table class="table" style="max-width: 500px; margin: auto">
    <thead>
        <tr>

            <th>Task</th>
            <th></th>
            <th> <a class="btn btn-primary" href="/Home/Yeni">New Task</a> </th>


        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>

                <td>@item.TaskName</td>
                <td>
                    <a class="btn" href="/Home/Update/@item.ID">
                        <img style="max-height: 25px; max-width: 25px;" src="~/img/edit (1).png" />
                    </a>
                </td>
                <td>
                    <a class="btn" href="/Home/Delete/@item.ID">
                        <img style="max-height: 25px; max-width: 25px;" src="~/img/remove.png" />
                    </a>
                </td>


            </tr>

        }

    </tbody>
</table>