
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Yeni</h2>

    <form method="post">
        <div class="form-group mb-3">
            <label>Yeni istifadeci adi</label>
            <input type="text" name="OrderID" class="form-control" />

        </div>
        <button type="submit" class="btn btn-success">Elave et</button>
    </form>
</div>